body {
  background-color: wheat;
}

/* Video */
.video {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 240px;
}

.video__view {
  width: 100%;
  height: 160px;
  background-color: violet;
}

.video__subject {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.video__description {
  font-size: 14px;
  font-weight: 500;
}

